.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-image: url('/images/homePage/back3.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 696px;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.1;

  color: rgba(235, 245, 255, 0.88);
  text-shadow:
    0 1px 2px rgba(0, 0, 0, 0.4),
    0 0 8px rgba(120, 180, 255, 0.3),
    0 0 18px rgba(90, 130, 255, 0.25);

  letter-spacing: -0.02em;
  margin-bottom: 36px;

  transition: text-shadow 0.3s ease;
}

.description {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: rgba(235, 245, 255, 0.88);

  text-shadow:
    0 1px 1px rgba(0, 0, 0, 0.3),
    0 0 6px rgba(186, 219, 255, 0.2);

  margin-bottom: 40px;
  max-width: 600px;
}

.homeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  white-space: nowrap;
  gap: 10px;

  width: 173px;
  height: 56px;
  padding: 0 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: rgba(235, 245, 255, 0.88);
  border-radius: 200px;
  border: 1px solid whitesmoke;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 200px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;
  cursor: pointer;
}

.homeBtn:hover,
.homeBtn:focus {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
}
