.logoLink {
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-right: 20px;
}

@media screen and (min-width: 1280px) {
  .iconWrap {
    margin-right: 40px;
  }
}
