.details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
}

.details > p {
  color: var(--foreground);
  font-size: 14px;
  line-height: 1.6;
}

.detailsAccent {
  color: var(--accent-color-light);
  font-size: 14px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .details > p {
    font-size: 16px;
  }

  .detailsAccent {
    font-size: 16px;
  }
}
