.section {
  padding: 24px 16px;
  padding-top: calc(24px + 60px);
  width: 100%;
  min-height: calc(100vh - 60px);
  margin: 0px auto;
  opacity: 0;
  transform: translateY(12px);
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 24px 32px;
    padding-top: calc(24px + 60px);
    min-height: calc(100vh - 60px);
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 0 60px 40px;
    padding-top: calc(40px + 60px);
    min-height: calc(100vh - 60px);
    max-width: 1600px;
  }
}
