.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* padding: 60px 10px; */
}

.wrapper {
  /* padding: 60px 10px; */

  align-items: center;
  justify-content: center;
}
.formTitle {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}
.subtitle {
  font-weight: 400;
  color: var(--text-secondary);
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  gap: 4px;
  transition: border-color 0.2s;
  text-align: left;
}

.input {
  padding: 10px 14px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 42px;

  color: #fff;
  font-size: 16px;

  backdrop-filter: blur(12px) saturate(160%);
  -webkit-backdrop-filter: blur(12px) saturate(160%);

  transition: all 0.3s ease;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.inputError {
  border-color: red;
  color: red;
}

.inputError::placeholder {
  color: red;
}
.labelError {
  color: red;
}

.input:hover {
  background: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.4);
}

.input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  border-color: #ffb6c1;
  box-shadow: 0 0 10px rgba(255, 182, 193, 0.4);
}

.input:active {
  border: 2px solid #ffcbd3;
  background-color: rgba(0, 0, 0, 0.05);
}
.textarea {
  width: 100%;
  min-height: 100px;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  resize: none;

  color: #fff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(12px) saturate(160%);
  -webkit-backdrop-filter: blur(12px) saturate(160%);
  transition: all 0.3s ease;
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.textarea:hover {
  background: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.4);
}

.textarea:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.25);
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  padding: 14px 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--foreground);
  border-radius: 200px;
  border: 1px solid var(--btn-accent-light);
  background-color: var(--btn-bg-dark);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  white-space: nowrap;
  box-shadow: var(--shadow-light);
  transition: all 0.3s ease;
}

.submitButton:hover,
.submitButton:focus {
  background-color: var(--btn-accent-bg-hover);
  border-color: var(--accent-color);
  box-shadow: var(--shadow-glow);
  transform: translateY(-2px);
}

.submitButton:active {
  transform: translateY(-1px);
  background-color: var(--btn-accent-bg-active);
  box-shadow: var(--shadow-default);
}

.submitButton:disabled {
  opacity: 0.5;
  color: rgba(222, 215, 215, 0.4);
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.errorText {
  min-height: 1px;
  color: #dc3545;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
  transition: opacity 0.2s ease;
}

.errorMessage {
  color: #dc3545;
  font-size: 15px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .input {
    height: 50px;
    min-width: 480px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-secondary);
    /* width: 300px; */
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .form {
    width: 500px;
  }
  .wrapper {
    margin: 0 auto;
  }
  .subtitle {
    font-size: 18px;

    width: 500px;
  }
}
