.menuWrap {
  width: 100%;
  height: 100%;
  padding: 4px 10px;
}

.modalMenu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 16px;
}
